<%- include('../partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />
</head>
<body>
   <%- include('../partials/nav.ejs') %>

   <h1>Edit Car Page</h1>

   <%- include('../partials/footer.ejs') %>
